body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 10px 0;
    background-color: #ffffff;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid;
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid;
    width: 85%;
}
.logo-content-img{
    border: solid 0px #42515f;
}
.address-text{
    font: normal normal bold 20px/25px Arial ;
    font-family: "Arial";
    letter-spacing: 0px;
    color: #1779e9;
    text-transform: capitalize;
    font-style: bold;
}
.address-book-text{
    font: normal normal bold 20px/25px Arial ;
    font-family: "Arial";
    color: #2d343a;
    font-style: bold;
    
}
*{box-sizing: border-box;}
.form-content{
    min-height: calc(200%-100px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
}
.form{
    width: 65%;
    max-height: max-content;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}
.form-head{
font: normal normal bold 24px/37px Roboto;
letter-spacing: 0px;
color: #42515f;
text-transform: capitalize;
opacity: 1;
padding-bottom: 20px;
}
.row-content{
 display: flex;
 flex-direction: row;
 margin-bottom: 10px;
 align-items: center;
 border: 0px solid green;
}  